.cursor{
    cursor: pointer;
}
.btnsOfNav{
    margin-top: 30px; 
    display: flex;
    align-items: center;
    margin-left: 200px;
 }
 .btn{
     width: 170px;
     height: 69px;
     margin-right:20px;
     padding: 20px;
     border: none;
     border-radius: 5px;
     color: white;
     cursor: pointer;
     font-weight: 700;
     font-size: 18px;
     line-height: 22px;
 }
 .btnAfter {
    padding: 20px;
    border-radius: 5px 5px 0 0 ;
    
    
 }

.crossOnBtn > svg {
    transform: rotate(180deg);
    
}
.testBTN{
    display: none;
    overflow-y: auto;
    max-height: 397px;
    padding: 20px ;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    color: white;
    font-size: 18px;
    border-radius: 0 0 5px 5px;
}
.displayGrid{
    display: grid;
}