*{
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-style: normal;
}
body{
    height:100vh;
}
/* Tools */
.blue{
    background: #3282F7;
}
.green{
    background: #68D9A4;
}
.red{
    background: #ED6454;   
}
.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
