/* Header */
.slogan{
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #D04F4F;
    
    }
    .header{
        margin-top: 42px;
        flex-direction: column;
    
    }