/* Buttons */

.btnsOfNav{
    margin-top: 15px; 
    display: flex;
    align-items: center;
    margin-left: 200px;
 }
 .btn{
     width: 170px;
     height: 69px;
     margin-right:20px;
     padding: 20px;
     border: none;
     border-radius: 5px;
     color: $color-White;
     cursor: pointer;
     font-weight: 700;
     font-size: 18px;
     line-height: 22px;
    @extend %flexBetween;
 }
 .btnAfter {
    padding: 20px;
    border-radius: 5px 5px 0 0 ;
    
 }
 .btnAfterRed{
    width: 572.27px;
 } 
 .btnAfterBlue{
    width: 984.14px;
 } 
 .btnAfterGreen{
    width: 516.34px;
 }
.AllBtnAfter{
    width: 240px;
}
.crossOnBtn > svg {
    transform: rotate(180deg);
    
}
.testBTN{
    display: none;
    overflow-y: auto;
    max-height: 397px;
    padding: 20px ;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    color: $color-White;
    font-size: 18px;
    border-radius: 0 0 5px 5px;
}
.testBTNAfter{
    grid-template-columns: 1fr;
    width: 200px;
}
.displayGrid{
    display: grid;
}
.inputInBtn{
    display: none;
    position: absolute;
    margin-top: -45px;
    margin-left: 20px;
    border: none;
    font-size: 18px;
    color: $color-White;
    width: 200px;
}
input:focus{
    outline: none;
}
.displayBlock{
    display: block;
}
input::placeholder{
    color: #FFFFFF;
    opacity: 0.5;
}